# C2
# Предсказание отмены такси

## курс "Машинное обучение 2", программа OzonMasters, 2022

## Студент: Арешин Станислав Олегович

## Baseline 2. Лучшее решение. Blanding

В данном ноутбуке представлено лучшее решение. Скор решения на паблике 0.75779, место 8/65. Подробное описание решения и процесса генерации признаков см. в ноутбуке baseline2_solution.ipynb. Для небольшого улучшения скора я решил заблендить несколько алгоритмов и это действительно дало небольшой прирост. Ноутбук с валидацией отдельно приводить не буду, так как он избыточен, отличие от кода baseline2_solution.ipynb только в построении модели. Данный ноутбук полностью восстанавливает мой лучший сабмит.

Делим обучающую выборку на две части train1 и train2

Модель следующая:

* Метапризнаки из двух отличающихся LGBMRegressor (обучаем на train1, получаем признаки для train2 и test)
* Метапризнаки из двух отличающихся CatBoostRegressor (аналогично обучаем на train1, получаем признаки для train2 и test)
* Метапризнаки из двух отличающихся RandomForestRegressor (аналогично обучаем на train1, получаем признаки для train2 и test)
* На метапризнаках train2 обучаем CatBoostClassifier
* Делаем предикт по метапризнакам test

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings
from tqdm import tqdm
warnings.filterwarnings("ignore")

sns.set_style("darkgrid", {"grid.color": ".6", "grid.linestyle": ":"})

%matplotlib inline

# Загрузка данных

In [2]:
df_train = pd.read_csv('1_data/train_data_w_dists.csv')
target = pd.read_csv('1_data/train_target.csv')
df_train['target'] = np.array(target)
df_train = df_train.sort_values('due')
print(df_train.shape)
df_train.head()

(1187461, 14)

,dist,due,f_class,lat,lon,s_class,t_class,dist_to_MOSCOW,dist_to_SPB,dist_to_KAZAN,dist_to_N_NOVGOROD,dist_to_VORONEZH,min_dist_to_city,target
823150,17990.125431,2014-01-01 00:09:32.000,econom,55.750130,37.823242,NaN,NaN,0.206023,8.577844,11.243127,6.209581,4.315741,0.206023,1
685195,2322.180999,2014-01-01 00:10:00.000,econom,55.711488,37.884183,NaN,NaN,0.270543,8.649893,11.182532,6.152650,4.259919,0.270543,0
996389,14608.577392,2014-01-01 00:10:00.000,econom,55.633404,37.797595,NaN,NaN,0.217931,8.613152,11.270209,6.246994,4.213747,0.217931,0
497811,20055.569096,2014-01-01 00:10:00.000,econom,55.780380,37.645240,NaN,NaN,0.037198,8.407917,11.420952,6.384175,4.404071,0.037198,0
812346,20585.444093,2014-01-01 00:10:00.000,econom,55.675676,37.500387,NaN,NaN,0.141746,8.335291,11.566730,6.538104,4.360663,0.141746,1

In [3]:
df_test = pd.read_csv('1_data/test_data_w_dists.csv')
df_test = df_test.sort_values('due')
print(df_test.shape)

df_test.head()

(510937, 13)

,dist,due,f_class,lat,lon,s_class,t_class,dist_to_MOSCOW,dist_to_SPB,dist_to_KAZAN,dist_to_N_NOVGOROD,dist_to_VORONEZH,min_dist_to_city
418832,12228.949942,2014-03-06 08:00:00.000,econom,55.709632,37.767186,business,NaN,0.156845,8.548894,11.299542,6.269254,4.295751,0.156845
330723,11792.691777,2014-03-06 08:00:00.000,business,55.867147,37.665435,NaN,NaN,0.121284,8.383043,11.400706,6.357193,4.478395,0.121284
440585,1424.111651,2014-03-06 08:00:00.000,econom,55.747110,37.642815,business,NaN,0.026964,8.422299,11.423571,6.389524,4.373822,0.026964
462500,487.808926,2014-03-06 08:00:00.000,econom,55.744936,37.615057,business,NaN,0.011117,8.399310,11.451344,6.417364,4.381755,0.011117
75315,2503.594134,2014-03-06 08:00:00.000,econom,55.762961,37.619647,business,NaN,0.007513,8.394317,11.446634,6.411183,4.396913,0.007513

# get_dists_from_cities

In [4]:
from scipy.spatial import distance

def get_dists_from_cities(row):
    MOSCOW = np.array([55.755825, 37.617298])
    SPB = np.array([59.934280, 30.335098])
    KAZAN = np.array([55.830433, 49.066082])
    N_NOVGOROD = np.array([56.326790, 44.005989])
    VORONEZH = np.array([51.659908, 39.200089])
    dist_to_MOSCOW = distance.euclidean(row[['lat', 'lon']], MOSCOW)
    dist_to_SPB = distance.euclidean(row[['lat', 'lon']], SPB)
    dist_to_KAZAN = distance.euclidean(row[['lat', 'lon']], KAZAN)
    dist_to_N_NOVGOROD = distance.euclidean(row[['lat', 'lon']], N_NOVGOROD)
    dist_to_VORONEZH = distance.euclidean(row[['lat', 'lon']], VORONEZH)
    min_dist_to_city = np.min([dist_to_MOSCOW, dist_to_SPB, dist_to_KAZAN, dist_to_N_NOVGOROD, dist_to_VORONEZH]) 
    return dist_to_MOSCOW, dist_to_SPB, dist_to_KAZAN, dist_to_N_NOVGOROD, dist_to_VORONEZH, min_dist_to_city

In [5]:
%%time

df[['dist_to_MOSCOW', 'dist_to_SPB', 'dist_to_KAZAN', 'dist_to_N_NOVGOROD',\
          'dist_to_VORONEZH', 'min_dist_to_city']] = df[['lat', 'lon']].apply(\
                                                        get_dists_from_cities, result_type='expand', axis=1)

In [6]:
%%time

df_test[['dist_to_MOSCOW', 'dist_to_SPB', 'dist_to_KAZAN', 'dist_to_N_NOVGOROD',\
          'dist_to_VORONEZH', 'min_dist_to_city']] = df_test[['lat', 'lon']].apply(\
                                                        get_dists_from_cities, result_type='expand', axis=1)

In [7]:
# df.to_csv('1_data/train_data_w_dists.csv', index=False)
# df_test.to_csv('1_data/test_data_w_dists.csv', index=False)

# Обучающая выборка

Делим выборку на две части 0.65 и 0.35. На первой части будем получать мета признаки алгоритмов и на второй части обучать итоговый алгоритм на мета признаках.

In [10]:
df_train1 = df_train[:int(len(df_train) * 0.65)].copy()
df_train2 = df_train[int(len(df_train) * 0.65) :].copy()

print(f'Train1 shape : {df_train1.shape}')
print(f'Train2 shape : {df_train2.shape}')

Train1 shape : (771849, 14)
Train2 shape : (415612, 14)

# get_datetime_features

In [11]:
def get_datetime_features(df):
    df_res = df.copy()
    df_res['due_datetime'] = pd.to_datetime(df_res['due'])
    df_res['month'] = df_res['due_datetime'].dt.month
    df_res['day'] = df_res['due_datetime'].dt.day
    df_res['weekday'] = df_res['due_datetime'].dt.weekday
    df_res['is_weekend'] = df_res.apply(lambda row: 1 if  row['weekday'] > 4\
                                           else 0, axis=1)
    df_res['hour'] = df_res['due_datetime'].dt.hour
    df_res['day_period'] = (df_res['hour'] % 24 + 4) // 4
    
    df_res['time_as_str'] = df_res['due'].apply(lambda x: x[x.find(' ') + 1:-4])
    df_res['due_timedelta'] = pd.to_timedelta(df_res['time_as_str'])
    df_res['total_seconds'] = df_res['due_timedelta'].dt.total_seconds()
    df_res['total_minutes'] = df_res['total_seconds'] // 60
    
    df_res.drop(['time_as_str', 'due_timedelta', 'due_datetime', 'due'], inplace=True, axis=1)
    return df_res

In [12]:
%%time 

df_train1 = get_datetime_features(df_train1)

df_train2 = get_datetime_features(df_train2)

df_test = get_datetime_features(df_test)

Wall time: 22.1 s

# get_geo_features

В тесте есть перепутанные lat lon

In [13]:
def get_geo_features(df, test=False):
    df_res = df.copy()
    df_res['city'] = 'other'
    df_res.loc[df_res['lat'].between(59.4, 60.3) & df_res['lon'].between(29.23, 31.394), 'city'] = 'spb'
    df_res.loc[df_res['lat'].between(54.35, 56.7) & df_res['lon'].between(35.05, 39.86), 'city'] = 'moscow'
    df_res.loc[df_res['lat'].between(49.68, 52.03) & df_res['lon'].between(37.68, 43.35), 'city'] = 'voronezh'
    df_res.loc[df_res['lat'].between(55.95, 56.45) & df_res['lon'].between(43.38, 44.76), 'city'] = 'nnovgorod'
    df_res.loc[df_res['lat'].between(55.46, 55.94) & df_res['lon'].between(48.54, 50.06), 'city'] = 'kazan'
    
    if test:
        df_res['lat'], df_res['lon'] = np.where(df_res['city']=='other',\
                                                (df_res['lon'],df_res['lat']),(df_res['lat'],df_res['lon']))
        df_res.loc[df_res['lat'].between(59.4, 60.3) & df_res['lon'].between(29.23, 31.394), 'city'] = 'spb'
        df_res.loc[df_res['lat'].between(54.35, 56.7) & df_res['lon'].between(35.05, 39.86), 'city'] = 'moscow'
        df_res.loc[df_res['lat'].between(49.68, 52.03) & df_res['lon'].between(37.68, 43.35), 'city'] = 'voronezh'
        df_res.loc[df_res['lat'].between(55.95, 56.45) & df_res['lon'].between(43.38, 44.76), 'city'] = 'nnovgorod'
        df_res.loc[df_res['lat'].between(55.46, 55.94) & df_res['lon'].between(48.54, 50.06), 'city'] = 'kazan'
    return df_res

In [14]:
%%time

df_train1 = get_geo_features(df_train1)
df_train2 = get_geo_features(df_train2)
df_test = get_geo_features(df_test, test=True)

Wall time: 266 ms

# find_almost_duplicates

In [15]:
# предварительно отсортировать данные
def find_almost_dupclicates(df):
    df_res = df.copy()
    df_res['lat_lon_duplicated'] = df_res.duplicated(subset=['lat', 'lon'], keep='last')
    df_res['dist_lat_lon_duplicated'] = df_res.duplicated(subset=['dist', 'lat', 'lon'], keep='last')
    df_res['dist_lat_lon_classes_duplicated'] = df_res.duplicated(subset=['dist', 'lat', 'lon', 'f_class','s_class','t_class'], keep='last')
    df_res['day_lat_lon_duplicated'] = df_res.duplicated(subset=['month', 'day', 'lat', 'lon'], keep='last')
    df_res['dayperiod_lat_lon_duplicated'] = df_res.duplicated(subset=['month', 'day','day_period', 'lat', 'lon'], keep='last')
    df_res['hour_lat_lon_duplicated'] = df_res.duplicated(subset=['month', 'day','hour', 'lat', 'lon'], keep='last')
    df_res['minutes_lat_lon_duplicated'] = df_res.duplicated(subset=['month', 'day','total_minutes', 'lat', 'lon'], keep='last')
    df_res['dist_day_lat_lon_duplicated'] = df_res.duplicated(subset=['dist','month', 'day', 'lat', 'lon'], keep='last')
    df_res['dist_dayperiod_lat_lon_duplicated'] = df_res.duplicated(subset=['dist','month', 'day','day_period', 'lat', 'lon'], keep='last')
    df_res['dist_hour_lat_lon_duplicated'] = df_res.duplicated(subset=['dist','month', 'day','hour', 'lat', 'lon'], keep='last')
    return df_res

In [16]:
df_train1 = find_almost_dupclicates(df_train1)
df_train2 = find_almost_dupclicates(df_train2)
df_test = find_almost_dupclicates(df_test)

# Шафлим train1 b train2, восстанавливем порядок  test

In [17]:
df_train1 = df_train1.sample(frac=1, random_state=42)
df_train2 = df_train2.sample(frac=1, random_state=42)
df_test = df_test.sort_index()
df_test.head()

,dist,f_class,lat,lon,s_class,t_class,dist_to_MOSCOW,dist_to_SPB,dist_to_KAZAN,dist_to_N_NOVGOROD,...,lat_lon_duplicated,dist_lat_lon_duplicated,dist_lat_lon_classes_duplicated,day_lat_lon_duplicated,dayperiod_lat_lon_duplicated,hour_lat_lon_duplicated,minutes_lat_lon_duplicated,dist_day_lat_lon_duplicated,dist_dayperiod_lat_lon_duplicated,dist_hour_lat_lon_duplicated
0,4611.506701,econom,55.776618,37.682503,NaN,NaN,0.068440,8.442187,11.383706,6.347375,...,False,False,False,False,False,False,False,False,False,False
1,14450.067441,econom,55.754659,37.810072,NaN,NaN,0.192778,8.564138,11.256265,6.222276,...,True,False,False,False,False,False,False,False,False,False
2,17755.993723,business,55.726141,37.587407,NaN,NaN,0.042127,8.384773,11.479149,6.446626,...,False,False,False,False,False,False,False,False,False,False
3,8533.172059,econom,55.794178,37.576456,business,NaN,0.056027,8.341325,11.489683,6.451556,...,True,False,False,False,False,False,False,False,False,False
4,-1.000000,econom,55.757409,37.542186,business,NaN,0.075129,8.329968,11.524127,6.488832,...,True,True,False,False,False,False,False,False,False,False

# Избавляемся от нанов

In [18]:
cols_to_fill_newcat1 = ['f_class', 's_class', 't_class']

In [19]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(strategy='constant', fill_value='unknown')

to_fill_train1 = np.array(df_train1[cols_to_fill_newcat1])
fill_result_train = imp.fit_transform(to_fill_train1)
df_train1[cols_to_fill_newcat1] = fill_result_train

to_fill_train2 = np.array(df_train2[cols_to_fill_newcat1])
fill_result_train = imp.transform(to_fill_train2)
df_train2[cols_to_fill_newcat1] = fill_result_train

to_fill_test = np.array(df_test[cols_to_fill_newcat1])
fill_result_test = imp.transform(to_fill_test)
df_test[cols_to_fill_newcat1] = fill_result_test

In [20]:
def is_feature(df, val_cols, cat_cols):
    df_res = df.copy()
    for col in val_cols:
        df_res[f'is_{col}'] = (df_res[col] != -1.0).astype(int)
    for col in cat_cols:
        df_res[f'is_{col}'] = (df_res[col] != 'unknown').astype(int)
    return df_res

In [21]:
val_cols =  ['dist']
cat_cols = ['f_class', 's_class', 't_class']
df_train1 = is_feature(df_train1, val_cols, cat_cols)
df_train2 = is_feature(df_train2, val_cols, cat_cols)
df_test = is_feature(df_test, val_cols, cat_cols)

# Encoding

In [22]:
y_train1 = np.array(df_train1['target'])
y_train2 = np.array(df_train2['target'])

df_train1.drop(['target'], axis=1, inplace=True)
df_train2.drop(['target'], axis=1, inplace=True)

In [23]:
from category_encoders import OrdinalEncoder

cat_columns = list(df_train1.select_dtypes('object').columns)
encoder = OrdinalEncoder(cols = cat_columns)

df_train1_encoded = encoder.fit_transform(df_train1)
df_train2_encoded = encoder.transform(df_train2)
df_test_encoded = encoder.transform(df_test)

print(df_train1_encoded.shape)
print(df_train2_encoded.shape)
print(df_test_encoded.shape)

df_train1_encoded.head()

(771849, 35)
(415612, 35)
(510937, 35)

,dist,f_class,lat,lon,s_class,t_class,dist_to_MOSCOW,dist_to_SPB,dist_to_KAZAN,dist_to_N_NOVGOROD,...,dayperiod_lat_lon_duplicated,hour_lat_lon_duplicated,minutes_lat_lon_duplicated,dist_day_lat_lon_duplicated,dist_dayperiod_lat_lon_duplicated,dist_hour_lat_lon_duplicated,is_dist,is_f_class,is_s_class,is_t_class
542270,5886.477713,1,55.717234,37.573968,1,1,0.058024,8.377632,11.492671,6.460840,...,False,False,False,False,False,False,1,1,1,0
761710,6652.789356,2,59.938045,30.395674,2,1,8.345227,0.060693,19.116920,14.081258,...,False,False,False,False,False,False,1,1,0,0
1063727,4457.823163,1,55.813693,37.643273,2,1,0.063430,8.389795,11.422821,6.383371,...,False,False,False,False,False,False,1,1,0,0
1061338,12991.855714,1,55.810840,37.405992,2,1,0.218350,8.185371,11.660106,6.620133,...,False,False,False,False,False,False,1,1,0,0
613192,10690.212715,1,55.652281,37.561353,2,1,0.117692,8.399659,11.506109,6.479838,...,False,False,False,False,False,False,1,1,0,0

In [24]:
df_train1_encoded.columns

Index(['dist', 'f_class', 'lat', 'lon', 's_class', 't_class', 'dist_to_MOSCOW',
       'dist_to_SPB', 'dist_to_KAZAN', 'dist_to_N_NOVGOROD',
       'dist_to_VORONEZH', 'min_dist_to_city', 'month', 'day', 'weekday',
       'is_weekend', 'hour', 'day_period', 'total_seconds', 'total_minutes',
       'city', 'lat_lon_duplicated', 'dist_lat_lon_duplicated',
       'dist_lat_lon_classes_duplicated', 'day_lat_lon_duplicated',
       'dayperiod_lat_lon_duplicated', 'hour_lat_lon_duplicated',
       'minutes_lat_lon_duplicated', 'dist_day_lat_lon_duplicated',
       'dist_dayperiod_lat_lon_duplicated', 'dist_hour_lat_lon_duplicated',
       'is_dist', 'is_f_class', 'is_s_class', 'is_t_class'],
      dtype='object')

# Creating model

Модель следующая:

* Метапризнаки из двух отличающихся LGBMRegressor
* Метапризнаки из двух отличающихся CatBoostRegressor
* Метапризнаки из двух отличающихся RandomForestRegressor
* На метапризнаках обучаем CatBoostClassifier.

In [25]:
X_train1 = np.array(df_train1_encoded)
X_train2 = np.array(df_train2_encoded)
X_test = np.array(df_test_encoded)


print(f'Train1 shape : {X_train1.shape}')
print(f'Train2 shape : {X_train2.shape}')
print(f'Test shape : {X_test.shape}')

Train1 shape : (771849, 35)
Train2 shape : (415612, 35)
Test shape : (510937, 35)

## LGBMRegressor 1

In [26]:
%%time

from lightgbm import LGBMRegressor

model = LGBMRegressor(max_depth=7, learning_rate=0.1, n_estimators=1000, random_state=30)
model.fit(X_train1, y_train1)

Wall time: 21.2 s

LGBMRegressor(max_depth=7, n_estimators=1000, random_state=30)

In [27]:
lgbm1_train2_preds = model.predict(X_train2)
lgbm1_test_preds = model.predict(X_test)

## LGBMRegressor 2

In [28]:
%%time

from lightgbm import LGBMRegressor

model = LGBMRegressor(max_depth=5, learning_rate=0.1, n_estimators=1000, random_state=42)
model.fit(X_train1, y_train1)

Wall time: 23.7 s

LGBMRegressor(max_depth=5, n_estimators=1000, random_state=42)

In [29]:
lgbm2_train2_preds = model.predict(X_train2)
lgbm2_test_preds = model.predict(X_test)

## CatBoostRegressor 1

In [30]:
%%time

from catboost import CatBoostRegressor

model = CatBoostRegressor(iterations=1000,
                            loss_function = 'RMSE',
                            task_type="CPU",
                            max_depth=6,
                            learning_rate= 0.1,
                            random_state=1,
                            silent=True
                          )

model.fit(X = X_train1, y = y_train1)

Wall time: 1min 35s

In [31]:
cb1_train2_preds = model.predict(X_train2)
cb1_test_preds = model.predict(X_test)

## CatBoostRegressor 2

In [32]:
%%time

from catboost import CatBoostRegressor

model = CatBoostRegressor(iterations=1000,
                            loss_function = 'MAE',
                            task_type="CPU",
                            max_depth=10,
                            learning_rate= 0.1,
                            random_state=50,
                            silent=True
                          )

model.fit(X = X_train1, y = y_train1)

Wall time: 7min 25s

In [33]:
cb2_train2_preds = model.predict(X_train2)
cb2_test_preds = model.predict(X_test)

## RandomForestRegressor 1

In [34]:
%%time

from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=1, n_jobs=-1, n_estimators=100, criterion='squared_error')

model.fit(X_train1, y_train1)

Wall time: 14min 46s

RandomForestRegressor(n_jobs=-1, random_state=1)

In [35]:
%%time

rf1_train2_preds = model.predict(X_train2)
rf1_test_preds = model.predict(X_test)

Wall time: 17.4 s

## RandomForestRegressor 2

In [36]:
%%time

from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=20, n_jobs=-1, n_estimators=100, criterion='squared_error')

model.fit(X_train1, y_train1)

Wall time: 14min 37s

RandomForestRegressor(n_jobs=-1, random_state=20)

In [37]:
%%time

rf2_train2_preds = model.predict(X_train2)
rf2_test_preds = model.predict(X_test)

Wall time: 17.9 s

## Blender

In [54]:
X_train2_new = np.vstack((lgbm1_train2_preds, lgbm2_train2_preds,\
                          cb1_train2_preds, cb2_train2_preds,\
                          rf1_train2_preds, rf2_train2_preds)).T

X_test_new =  np.vstack((lgbm1_test_preds, lgbm2_test_preds,\
                         cb1_test_preds, cb2_test_preds,\
                        rf1_test_preds, rf2_test_preds)).T

In [52]:
from catboost import CatBoostClassifier

model = CatBoostClassifier(iterations=300,
                          loss_function = 'Logloss',
                          task_type="CPU",
                           max_depth=7,
                            learning_rate= 0.01,
                           random_state=1
                          )

model.fit(X = X_train2_new,
          y = y_train2, 
          verbose = 100,
          early_stopping_rounds=50)

0:	learn: 0.6848816	total: 79.1ms	remaining: 23.6s
100:	learn: 0.3827569	total: 8.97s	remaining: 17.7s
200:	learn: 0.3538471	total: 18s	remaining: 8.85s
299:	learn: 0.3501091	total: 26.7s	remaining: 0us

In [53]:
y_pred = model.predict_proba(X_test_new)[:, 1]

## Result

In [59]:
submission = pd.read_csv('1_data/sample_submission.csv')
submission.head()

   index    target
0      0  0.590232
1      1  0.693891
2      2  0.374479
3      3  0.319133
4      4  0.316124

In [60]:
submission['target'] = y_pred
submission.to_csv('blender.csv', index=False)